@import "variables";

.parrafoconjunto{
    margin-bottom: 500px;
}

.foto1{
    padding: 10px; margin: 10px; border: 2px solid rgb(138, 138, 138); float: left; width: 350px;
}
.foto2{
    padding: 10px; margin: 10px; border: 2px solid rgb(138, 138, 138); float: left; width: 350px;
}
.foto3{
    padding: 10px; margin: 10px; border: 2px solid rgb(138, 138, 138); float: left; width: 350px;
}
.foto4{
    padding: 10px; margin: 10px; border: 2px solid rgb(138, 138, 138); float: left; width: 350px;
}

