@import "variables";

/*VARIABLES*/
$altoPrincipal: 300px;

/*MIXIN*/
@mixin cabezaPagina {
    display: flex;
    height: $altoPrincipal - 100px;    
    width: auto;
    justify-content: center;
    align-items: center;
}


/*pagina jabones*/

/*logo*/
.cabeza__logo{
    @include cabezaPagina;    
}

.cabeza__logo--imagen{
    display: flex;
      
}
/*fin*/

.grupo_jabones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*fin*/

.parrafojabon{
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 200px;
    margin-top: 20px;  
        p{
        color: rgb(66, 66, 66);
        font-style: oblique;
        padding: 5px;
        }
        li {
            list-style: none;
        }
}

