@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*pagina de velas*/
.grupo_velas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  height: 1500px;
  margin-top: 20px;
}

.grupo_velas img {
  height: 300px;
  width: 430px;
}

div.vela img.izquierda {
  float: left;
  margin-right: 15px;
  border: 5px solid #ce9eac;
}

aside {
  color: rgba(66, 66, 66, 0.952);
  font-size: 30px;
  font-family: 'Satisfy', cursive;
}

.vela {
  border: 2px solid transparent;
  background-color: #c8fcf4;
}

.redespag a {
  color: #133653;
}

.redespag a:hover {
  color: #ff2323;
}

/*pie pagina secundarias*/
.piepag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 60px 20px 5px;
  background-color: #f8fa85;
}

.redespag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*fin*/
/*VARIABLES*/
/*MIXIN*/
/*pagina jabones*/
/*logo*/
.cabeza__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabeza__logo--imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*fin*/
.grupo_jabones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*fin*/
.parrafojabon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 250px;
  margin-top: 20px;
}

.parrafojabon p {
  color: #424242;
  font-family: 'Mulish', sans-serif;
}

.parrafojabon li {
  list-style: none;
  color: #50246d;
  font-family: 'Red Hat Display', sans-serif;
}

.listaromas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
  border-radius: 100px 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #c8fcf4;
}

.parrafoconjunto {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parrafo-con-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

.texto-conjunto {
  width: 70%;
  color: #29677c;
  font-size: 24px;
  border: 2px solid transparent;
  border-radius: 60px 20px 5px 90px;
  background-color: #e2d0ee;
  font-family: 'Cinzel', serif;
}

.mas-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.foto1 {
  padding: 10px;
  margin: 10px;
  border: 3px solid #3e9089;
  border-radius: 10px;
  width: 350px;
}

.foto2 {
  padding: 10px;
  margin: 10px;
  border: 3px solid #3e9089;
  border-radius: 10px;
  width: 350px;
}

.foto3 {
  padding: 10px;
  margin: 10px;
  border: 3px solid #3e9089;
  border-radius: 10px;
  width: 350px;
}

.foto4 {
  padding: 10px;
  margin: 10px;
  border: 3px solid #3e9089;
  border-radius: 10px;
  width: 350px;
}

.piepag {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  color: #1d5481;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 20px;
  color: #1d5481;
}

.infocontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

.info {
  border: 2px solid transparent;
  border-radius: 100px 10px;
  font-size: 20px;
  padding: 20px;
  background-color: #104288;
  color: #DAF3FF;
}

h1 {
  display: none;
}

/*pie pagina index*/
.pie_pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  height: 200px;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid transparent;
  border-radius: 20px 80px;
  background-color: #f8fa85;
}

.far {
  font-size: 35px;
  padding: 10px;
}

.fab {
  font-size: 35px;
  padding: 10px;
}

.redes a {
  color: #133653;
}

.redes a:hover {
  color: #ff2323;
}

/*fin*/
/*menu completo*/
.navbar {
  background-color: #ffffff;
}

.nav-link {
  color: #ff2323;
  font-size: 20px;
}

.nav-link:hover {
  color: #133653;
}

.navbar-toggler {
  border: solid 2px black;
}

/*fin*/
/*logo*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fotologo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*fin*/
.contactenos {
  display: block;
  padding: 2em 10em;
}

/*carrusel index*/
#carouselExampleControls {
  height: 550px;
  width: 800px;
}

.fotosportada {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-slide {
  width: 800px;
}

/*fin*/
/*parrafos de index*/
.parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  border: 2px solid transparent;
  border-radius: 80px 20px;
  background-color: #c8fcf4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.parrafos p {
  color: #50246d;
  font-family: 'Manrope', sans-serif;
  padding: 5px;
}

/*fin*/
/*contenedores parrafo index*/
h2 {
  color: #ff2323;
  font-size: 25px;
}

.parrafo1 {
  height: 200px;
  width: 300px;
}

.parrafo2 {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 300px;
}

.parrafo3 {
  height: 200px;
  width: 300px;
}

/*fin*/
/*grid areas, tamaños, distribución de columnas y filas*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  margin-top: 10px;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  height: 550px;
  background-color: #0a0a0a;
  padding-top: 5px;
}

section {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: section;
  text-align: center;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: footer;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 150px;
      grid-template-columns: 1fr 1fr 150px;
      grid-template-areas: "header header header"  "nav nav nav"  "main main main" "section section footer";
}

/*fin*/
/* media query----------------------------------------------*/
@media (min-width: 300px) and (max-width: 980px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 700px;
        grid-template-columns: 700px;
        grid-template-areas: "header" "nav"  "main" "section" "footer";
  }
  .parrafos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotologo img {
    width: 120px;
    height: 120px;
  }
  .main {
    height: 100%;
    width: 100%;
    float: none;
  }
  .carousel-control-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel-control-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
        grid-template-areas: "header" "nav"  "main" "section" "footer";
  }
  .main {
    height: 100%;
    width: 400px;
    float: none;
  }
}
/*# sourceMappingURL=estilos.css.map */